/*Reset */
*{
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

/*Variables*/

:root {
    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #111821;
}

/*General*/
.highlight{
    color : var(--main-color)
}